@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 15 46% 98%;
    --foreground: 15 52% 4%;
    --muted: 15 37% 93%;
    --muted-foreground: 15 14% 29%;
    --popover: 15 46% 98%;
    --popover-foreground: 15 52% 4%;
    --card: 15 46% 98%;
    --card-foreground: 15 52% 4%;
    --border: 15 7% 92%;
    --input: 15 7% 92%;
    --primary: 15 87% 62%;
    --primary-foreground: 15 87% 2%;
    --secondary: 15 14% 86%;
    --secondary-foreground: 15 14% 26%;
    --accent: 15 14% 86%;
    --accent-foreground: 15 14% 26%;
    --destructive: 6 81% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 15 87% 62%;
    --radius: 0.5rem;
    --osu: 18 96% 44%;
  }

  .dark {
    --background: 15 49% 4%;
    --foreground: 15 25% 99%;
    --muted: 15 37% 7%;
    --muted-foreground: 15 14% 71%;
    --popover: 15 49% 4%;
    --popover-foreground: 15 25% 99%;
    --card: 15 49% 4%;
    --card-foreground: 15 25% 99%;
    --border: 15 7% 12%;
    --input: 15 7% 12%;
    --primary: 15 87% 62%;
    --primary-foreground: 15 87% 2%;
    --secondary: 15 6% 13%;
    --secondary-foreground: 15 6% 73%;
    --accent: 15 6% 13%;
    --accent-foreground: 15 6% 73%;
    --destructive: 6 81% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 15 87% 62%;
    --osu: 18 96% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
}

.bn-container[data-theme-light][data-color-scheme] {
  --bn-colors-editor-text: hsl(var(--foreground));
  --bn-colors-editor-background: hsl(var(--background));
  --bn-colors-side-menu: hsl(var(--block-foreground));
  --bn-colors-menu-text: hsl(var(--foreground));
  --bn-colors-menu-background: hsl(var(--background));
  --bn-colors-tooltip-text: hsl(var(--foreground));
  --bn-colors-tooltip-background: hsl(var(--background));
  --bn-colors-hovered-text: hsl(var(--foreground));
  --bn-colors-hovered-background: hsl(var(--muted));
  --bn-colors-selected-text: hsl(var(--foreground));
  --bn-colors-selected-background: hsl(var(--background));
  --bn-colors-disabled-text: hsl(var(--muted-foreground));
  --bn-colors-disabled-background: hsl(var(--border));
  --bn-colors-shadow: hsl(var(--border));
  --bn-colors-border: hsl(var(--border));
  --bn-color-highlight-colors: hsl(var(--muted-foreground));
  --bn-border-radius: var(--radius);
  --bn-font-family: Helvetica Neue, sans-serif;
}

/* Changes for dark mode */
.bn-container[data-theme-dark][data-color-scheme="dark"] {
  --bn-colors-editor-text: hsl(var(--foreground));
  --bn-colors-editor-background: hsl(var(--background));
  --bn-colors-side-menu: hsl(var(--block-foreground));
  --bn-colors-menu-text: hsl(var(--foreground));
  --bn-colors-menu-background: hsl(var(--background));
  --bn-colors-tooltip-text: hsl(var(--foreground));
  --bn-colors-tooltip-background: hsl(var(--background));
  --bn-colors-hovered-text: hsl(var(--foreground));
  --bn-colors-hovered-background: hsl(var(--muted));
  --bn-colors-selected-text: hsl(var(--foreground));
  --bn-colors-selected-background: hsl(var(--background));
  --bn-colors-disabled-text: hsl(var(--muted-foreground));
  --bn-colors-disabled-background: hsl(var(--border));
  --bn-colors-shadow: hsl(var(--border));
  --bn-colors-border: hsl(var(--border));
  --bn-color-highlight-colors: hsl(var(--muted-foreground));
  --bn-border-radius: var(--radius);
  --bn-font-family: Helvetica Neue, sans-serif;
}

.shadow {
  position: absolute;
  background: hsl(var(--osu) / 0%);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--osu) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--osu) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--osu) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--osu) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--osu) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--osu) / 30%);
      right: 100px;
    }
  }
}
